.redes {
    margin: 10px;
    h5{
        width: calc(min-width + 100px);
        border-bottom: 3px solid;
        padding-bottom: 20px;
    }
    .list-redes{
        display: flex;
        align-items: center;
        img{
            margin-right: 10px;
            margin-bottom: 10px;
            width: 35px;
        }
    }
    
}